    <form action= '/make_joke'>
        <label for="for">Enter joke type:</label>
        <input type="text" name="name" placeholder = "general">
        <input type="submit" value="Submit">
    </form>
    <form action= '/num_fact'>
        <label for="form2">Enter a num to get a fact:</label>
        <input type="text" name="name" placeholder = "2">
        <input type="submit" value="Submit">
    </form>
    <form action= '/cat_breed'>
        <label for="form3">Cat picture:</label>
        <input type="text" name="name" placeholder = "sphynx">
        <input type="submit" value="Submit">
    </form>
